@charset 'utf-8';

/*
	copyright(c) 상상너머·원데이넷 all rights reserved.
	허용된 라이센스이외 무단도용재배포를 금합니다.
*/


/* ●●●●●●●●●● cm_계열 공통페이지 중 사이트별로 필수적으로 변경해야할 css */


/* cm_degisn */
/* .button_pack .btn_sm_color {background:#f14f4f; color:#fff !important; border:1px solid #f14f4f; }
.button_pack .btn_sm_color:hover {background:#ed3c3c !important; border:1px solid #ed3c3c;}
.button_pack .btn_md_color {background:#f14f4f; color:#fff !important; border:1px solid #f14f4f; }
.button_pack .btn_md_color:hover {background:#ed3c3c !important; border:1px solid #ed3c3c;}
.button_pack .btn_lg_color {background:#f14f4f; color:#fff !important; border:1px solid #f14f4f; }
.button_pack .btn_lg_color:hover {background:#ed3c3c !important; border:1px solid #ed3c3c;}

.cm_comb_search .search_form .btn_search:hover {background:#f14f4f;}
 */

/* ● cm_member */
/* .cm_member_login .btn_login {background-color:#f14f4f;}
.cm_member_login .btn_login:hover {background-color:#b72222;} */


/* ● cm_mypage */


/* ● cm_board */

