@charset 'utf-8';

/*
	copyright(c) 상상너머·원데이넷 all rights reserved.
	허용된 라이센스이외 무단도용재배포를 금합니다.
*/


/* ●●●●●●●●●● 단락 타이틀 */
.cm_my_title {font-weight:600; letter-spacing:-2px; font-size:17px; border-bottom:2px solid #707070; padding-bottom:10px; position:relative; color:#333; margin-top:30px;}
.cm_my_title strong {color:#ff0000; font-weight:600}
.cm_my_title .explain {position:absolute; right:0; top:10px; font-weight:normal; font-size:11px; color:#999; letter-spacing:-1px;}
.cm_my_title+ .cm_my_form {border-top:0}




/* ●●●●●●●●●● 마이통계치 */
.cm_mypage_sumbox {overflow:hidden; margin-bottom:30px;}
.cm_mypage_sumbox dt,.cm_mypage_sumbox dd {width:50%; float:left; text-align:center; line-height:70px; color:#fff;}
.cm_mypage_sumbox b {font-weight:600; letter-spacing:0px;}
.cm_mypage_sumbox dt {background:#485362; font-size:17px; letter-spacing:-1px;}
.cm_mypage_sumbox dd {background:#a5a5a5;}




/* ●●●●●●●●●● 마이페이지 기본리스트 */
.cm_mypage_list {border-top:2px solid #333;}
.cm_mypage_list table {width:100%;}
.cm_mypage_list th {background:#efefef; color:#333; font-weight:400; padding:15px 0; border-bottom:1px solid #b4b4b4; border-left:1px solid #dadada;}
.cm_mypage_list th:first-child {border-left:0;}
.cm_mypage_list tr:hover {background:#fbfbfb;}
.cm_mypage_list td {padding:10px; border-bottom:1px solid #dadada; border-left:1px solid #dadada; text-align:center; vertical-align:middle; line-height:20px; letter-spacing:0px;}
.cm_mypage_list td:first-child {border-left:0;}
.cm_mypage_list td .button_pack {margin-top:5px;}
.cm_mypage_list img {width:100px;}
.cm_mypage_list .date {color:#999;}
.cm_mypage_list .title {text-align:left; color:#444;}
.cm_mypage_list .title a {color:#444;}
.cm_mypage_list .title a:hover {text-decoration:underline}
.cm_mypage_list .price {color:#ff6600; text-align:right; font-weight:600}

/* 나의글 열고닫기 */
.cm_mypage_list .my_posting {margin-top:3px; line-height:16px;}
.cm_mypage_list .open_conts {color:#666; display:none;}
.cm_mypage_list .reply {padding:20px 30px 15px 55px; overflow:hidden; text-align:left; border:1px solid #eee; background:#fafafa url('../images/cm_images/ic_faq_a.gif') 20px 18px no-repeat; margin:20px 0 0 30px}
.cm_mypage_list .reply+ .reply {margin-top:5px}
.cm_mypage_list .reply .admin {display:block; color:#ff6600; margin-bottom:5px; overflow:hidden;}
.cm_mypage_list .reply .admin .name {font-weight:600; color:#000; float:left;}
.cm_mypage_list .reply .admin .date {color:#333; letter-spacing:0px; float:left;}
.cm_mypage_list .reply .admin .bar {background:#ccc; float:left; width:1px; height:10px; margin:4px 10px 0 10px}
.cm_mypage_list .reply .btn_delete {background:transparent url('../images/cm_images/comment_delete.gif') center center no-repeat; border:1px solid #ddd; width:15px; height:15px; float:left; margin:0 0 0 10px;}
.cm_mypage_list .reply .btn_delete:hover {background-color:#ddd;}
.cm_mypage_list tr:hover .reply {background-color:#fff;}
.cm_mypage_list .btn_item {display:block; color:#ff6600 !important; }
.cm_mypage_list .btn_open {display:block;}
.cm_mypage_list .btn_open:hover {text-decoration:underline; line-height:;}
.cm_mypage_list .btn_close_conts {display:none}
.cm_mypage_list .open_full .open_conts {display:block;}
.cm_mypage_list .open_full .my_posting {display:none}
.cm_mypage_list .open_full .btn_close_conts {display:block;}
.cm_mypage_list .open_full .btn_open_conts {display:none}
.cm_mypage_list .open_conts .conts_title {color:#000; font-weight:600; padding-bottom:3px; margin-bottom:3px; border-bottom:1px dashed #ddd}


.cm_mypage_list.list_point .no_icon {background:transparent url('../images/cm_images/no_conts_my_point.png') center bottom no-repeat;}
.cm_mypage_list.list_coupon .no_icon {background:transparent url('../images/cm_images/no_conts_coupon.png') center bottom no-repeat;}
.cm_mypage_list.list_posting .no_icon {background:transparent url('../images/cm_images/no_conts_my_posting.png') center bottom no-repeat;}

.cm_mypage_list .file_down {border:1px solid #ddd; padding:10px 10px; position:relative; margin:10px 0 0 0; background:#fafafa;}
.cm_mypage_list .file_down .opt {position:absolute; left:25px; top:50%; margin-top:-11px; width:70px; height:20px; line-height:20px; line-height:23px\0; color:#666; padding-left:20px; background:transparent url('../images/cm_images/board_view_file.gif') left center no-repeat;}
.cm_mypage_list .file_down .value {margin-left:105px; padding-left:25px; overflow:hidden; border-left:1px dotted #ddd; }
.cm_mypage_list .file_down .link {height:20px; line-height:20px; color:#888; text-decoration:underline; float:left; margin-right:15px; letter-spacing:0px;}
.cm_mypage_list .file_down .link:hover {color:#000}



/* ●●●●●●●●●● 회원탈퇴 */
.cm_mypage_leave {overflow:hidden; padding:40px 0 30px 0; background:#fff;}
.cm_mypage_leave li {list-style:none}
.cm_mypage_leave .title_img {color:#999; font-size:17px; font-weight:normal; height:60px; letter-spacing:-1px; text-align:center;}
.cm_mypage_leave .title_img strong { font-family:calibri; font-size:40px; color:#333; font-weight:600;}
.cm_mypage_leave .sub_txt {border-top:1px solid #eee; padding:20px; text-align:center; line-height:18px;}
.cm_mypage_leave .sub_txt strong {color:#ff6600; font-weight:400}

.cm_mypage_leave .form_box {position:relative; width:600px; margin:0 auto; overflow:hidden}
.cm_mypage_leave .form_box ul {overflow:hidden; position:relative; float:left;}
.cm_mypage_leave .form_box li {margin:0 0 5px 0; overflow:hidden; position:relative;}
.cm_mypage_leave .form_box .input_design {height:63px; line-height:63px; width:453px; font-size:15px; letter-spacing:0px; text-indent:55px; color:#888; float:left; border:0; background:#ededed; border:1px solid #d1d1d1;}
.cm_mypage_leave .form_box .input_design:focus {color:#000; background-color:#fafafa; border:1px solid #999;}
.cm_mypage_leave .form_box .login_id:before {content:''; width:63px; height:63px; position:absolute; left:0; top:0; background:transparent url('../images/cm_images/member_login_id.png') center center no-repeat}
.cm_mypage_leave .form_box .login_pw:before {content:''; width:63px; height:63px; position:absolute; left:0; top:0; background:transparent url('../images/cm_images/member_login_pw.png') center center no-repeat}

.cm_mypage_leave .btn_leave {background: #56585f; width:140px; height:135px; border:0; color:#fff; font-size:17px; font-weight:600; float:right; letter-spacing:-1px;}
.cm_mypage_leave .btn_leave:hover {background: #222; color:#fff;}





/* ●●●●●●●●●● 마이페이지 단락타이틀 */
.cm_mypage_ctrl {overflow:hidden; padding-bottom:10px;}
.cm_mypage_ctrl .btn {float:right;}
.cm_mypage_ctrl .btn a {margin-left:5px !important;}





/* ●●●●●●●●●● 마이페이지 찜 */
.cm_mypage_wish {overflow:hidden; border-top:1px solid #eee; /* border-top:2px solid #333; */}
.cm_mypage_wish ul {overflow:hidden; text-align:left;}
.cm_mypage_wish li {float:left; width:25%; padding:25px 0; list-style:none; }

.cm_mypage_wish .wish_box {margin:0 15px; min-height:250px; position:relative;}
.cm_mypage_wish .wish_box .thumb {overflow:hidden; display:block;}
.cm_mypage_wish .wish_box .thumb img {width:100%; float:left;}
.cm_mypage_wish .wish_box dd {position:relative; overflow:hidden; border-top:1px solid #eee; }
.cm_mypage_wish .wish_box .title {margin:10px 0; height:28px; overflow:hidden; color:#666; display:block}
.cm_mypage_wish .wish_box .title:hover {color:#333; text-decoration:underline}
.cm_mypage_wish .price {color:#999; position:relative; line-height:22px; overflow:hidden; padding-top:10px; color:#ff6600; letter-spacing:0px; font-weight:600; float:left; }
.cm_mypage_wish label {padding:5px; position:absolute; right:60px; bottom:0;}
.cm_mypage_wish .button_pack {position:absolute; right:0; bottom:0;}
.cm_mypage_wish .cm_no_conts .no_icon {background:transparent url('../images/cm_images/no_conts_my_wish.png') center bottom no-repeat;}




/* ●●●●●●●●●● 목록 탭메뉴(카테고리있을경우) */
.cm_mypage_tab {overflow:hidden; background:#eee; border-top:1px solid #ddd; border-right:1px solid #ddd; position:relative;}
.cm_mypage_tab:before {content:''; width:1px; height:100%; background:#ddd; position:absolute; left:0; top:0;}
.cm_mypage_tab a {float:left; padding:15px 25px; border-right:1px solid #ddd;}
.cm_mypage_tab .hit {background:#fff; color:#000; font-weight:600}





/* ●●●●●●●●●● 주문내역조회 */
.cm_order_search {background:#fff; margin-bottom:20px; overflow:hidden;}
.cm_order_search .period {float:left; overflow:hidden;}
.cm_order_search .period .btn {float:left; padding:0 20px; border:1px solid #ddd; line-height:33px; background:#fff; border-radius:50px; margin-right:5px}
.cm_order_search .period .hit {background:#485362; border:1px solid #485362; color:#fff}
.cm_order_search .detail {float:right; overflow:hidden;}
.cm_order_search .detail .input_date {border:1px solid #ddd; height:33px; line-height:33px; float:left; padding:0 10px 0 35px; width:80px; background:#fff url('../images/cm_images/ic_date.png') 10px center no-repeat; letter-spacing:0}
.cm_order_search .detail .input_date:focus {border:1px solid #666;}
.cm_order_search .detail .dash {float:left; margin:0 5px; line-height:35px; font-size:14px}
.cm_order_search .detail .button_pack {margin-left:10px;}





/* ●●●●●●●●●● 참여점수 */
.cm_mypage_score {overflow:hidden; margin:0 0 15px 0; border-left:1px solid #ddd; border-right:1px solid #ddd; }
.cm_mypage_score li {list-style:none; float:left; width:10%; border-top:1px solid #ddd; border-bottom:1px solid #ddd; position:relative;}
.cm_mypage_score li:before {content:''; width:1px; height:100%; background:#eee; position:absolute; left:-1px; top:0;}
.cm_mypage_score li:hover {background:#fafafa;}
.cm_mypage_score li:hover .score {background:#ddd;}
.cm_mypage_score .box {text-align:center;}
.cm_mypage_score .level {font-family:'lato'; font-size:25px; font-weight:300; color:#333; line-height:70px; position:relative;}
.cm_mypage_score .score {padding:8px 0; font-size:11px; font-family:verdana; letter-spacing:0px; color:#666; background:#fafafa; border-top:1px solid #ddd }
.cm_mypage_score .hit .level {background:#bbb; color:#fff; font-weight:600}
.cm_mypage_score .hit .score {background:#ddd;}
.cm_mypage_score .hit:after {content:''; position:absolute; left:50%; top:-1px; width:0; height:0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #fff; margin-left:-9px;}

.cm_mypage_action {background:#fff; border:5px solid #e4e4e4; margin-bottom:20px; overflow:hidden; position:relative; padding:30px;}
.cm_mypage_action .my_level {text-align:center; width:200px; position:absolute; left:30px; top:30px;}
.cm_mypage_action .my_level .score {color:#fff; background:#4d4d57; height:40px; line-height:40px;}
.cm_mypage_action .my_level .level {background:#a0a0a0; overflow:hidden; background:#ea0700; height:70px; line-height:70px;}
.cm_mypage_action .my_level .level {display:block; font-family:'lato'; font-size:30px; font-weight:600; margin-bottom:10px; color:#fff}

.cm_mypage_action .my_score { overflow:hidden; margin:0 240px 0 220px; border-right:1px solid #ddd;}
.cm_mypage_action .my_score li {position:relative; text-align:center; border-top:1px solid #ddd; border-bottom:1px solid #ddd; float:left; width:33.33%;  height:108px; list-style:none}
.cm_mypage_action .my_score li:before {content:''; width:1px; height:100%; background:#ddd; position:absolute; left:0; top:0;}
.cm_mypage_action .my_score li:hover {background:#fafafa;}
.cm_mypage_action .my_score .opt {color:#333; height:40px; line-height:40px; border-bottom:1px solid #ddd;}
.cm_mypage_action .my_score .value {height:70px; line-height:70px; font-size:15px; color:#333}
.cm_mypage_action .my_score .value strong {font-size:17px; font-family:'lato'; color:#ff0000;  letter-spacing:0px;}

.cm_mypage_action .change_point {background:#eee; overflow:hidden; position:absolute; right:30px; top:30px; width:200px; height:110px; padding:0 10px;}
.cm_mypage_action .change_point li {text-align:center; list-style:none;}
.cm_mypage_action .change_point .input_design {width:140px; background:#fff; height:31px; line-height:31px; border:2px solid #333; padding:0 10px; text-align:right; color:#333; font-size:15px; font-weight:600; margin:18px 0 3px 0}
.cm_mypage_action .change_point .input_design:focus {border:2px solid #ff0000;}
.cm_mypage_action .change_point .button_pack * {width:123px; }
.cm_mypage_action .change_point .change_point {position:absolute; right:30px; top:50%; margin-top:-15px}



/* ●●●●●●●●●● 주문내역리스트 */
.cm_order_list {overflow:hidden; border-top:2px solid #333}
.cm_order_list dl {border-bottom:1px solid #d9d9d9; }
.cm_order_list dt {background:#fcfcfc; position:relative; overflow:hidden; padding:15px; border-bottom:1px solid #eee}
.cm_order_list .number {color:#ff6600; font-weight:600; font-size:14px; margin-bottom:5px}
.cm_order_list .date {color:#888;}
.cm_order_list .price {color:#888; margin-top:10px}
.cm_order_list .price strong {color:#ff0000;}
.cm_order_list .btn_view {position:absolute; right:15px; top:15px; color:#333; padding-right:10px;}
.cm_order_list .btn_view:before {content:''; width: 0; height: 0; border-top: 4px solid transparent; border-left: 4px solid #000; border-bottom: 4px solid transparent; position:absolute; right:0; top:50%; margin-top:-4px}
.cm_order_list .btn_view:hover {color:#ff0000}
.cm_order_list .btn_view:hover:before {border-left: 4px solid #ff0000; }

.cm_order_list dd {padding:15px; overflow:hidden; min-height:100px; position:relative;}
.cm_order_list .item_thumb {overflow:hidden; width:100px; position:absolute; left:15px; top:15px;}
.cm_order_list .item_thumb img {width:100%;}
.cm_order_list .item_info {margin:0 230px 0 120px}
.cm_order_list .item_info li {list-style:none; padding:2px 0; color:#333}

.cm_order_list .icon_state {position:absolute; right:110px; top:50%; margin-top:-45px; width:90px; height:90px; border:1px solid #666; border-radius:100px; line-height:90px; text-align:center; font-size:14px; background:#fff; font-weight:600}
.cm_order_list .state_ready {border:1px solid #699f00; color:#699f00}
.cm_order_list .state_pay {border:1px solid #1c9695; color:#1c9695}
.cm_order_list .state_deliver {border:1px solid #0057b9; color:#0057b9}
.cm_order_list .state_ok {border:1px solid #ca0000; color:#ca0000}
.cm_order_list .state_cancel {border:1px solid #999; color:#999}
.cm_order_list .btn_box {position:absolute; right:10px; top:50%; margin-top:-40px; width:80px; z-index:5}
.cm_order_list .btn_box .button_pack {margin-bottom:5px;}

.cm_order_list dl:hover {background:#fafafa;}

.cm_order_list .no_icon {background:transparent url('../images/cm_images/no_conts_my_order.png') center bottom no-repeat;}




/* ●●●●●●●●●● 고객센터메인 */
.cm_mypage_main {overflow:hidden;}

.cm_mypage_main .quick_btn {margin-top:30px}
.cm_mypage_main .quick_btn .title_box {background:transparent url('../images/cm_images/service_main_linebg.png') left top repeat; height:10px;  text-align:center;}
.cm_mypage_main .quick_btn .title_box .txt {background:#fff; padding:0 20px; font-size:14px; color:#999; margin-top:-22px}
.cm_mypage_main .quick_btn .title_box .txt strong {display:block; color:#333; font-family:'lato'; font-size:30px; margin-bottom:8px}
.cm_mypage_main .quick_btn ul {overflow:hidden; margin-top:50px}
.cm_mypage_main .quick_btn li {float:left; width:20%; list-style:none; text-align:center; position:relative;}
.cm_mypage_main .quick_btn li:before {content:''; width:1px; height:80px; background:#eee; position:absolute; left:0; top:20px;}
.cm_mypage_main .quick_btn li:first-of-type:before {display:none;}
.cm_mypage_main .quick_btn .btn_go {display:block;}
.cm_mypage_main .quick_btn .img_box {display:block; padding-top:20px; height:75px;}
.cm_mypage_main .quick_btn .btn_go:hover {background:transparent url('../images/cm_images/service_main_btn_ov.png') center top no-repeat;}
.cm_mypage_main .quick_btn .number {display:block; font-family:'lato'; font-size:30px; margin-top:5px}
.cm_mypage_main .quick_btn .state_ready {color:#699f00}
.cm_mypage_main .quick_btn .state_pay {color:#1c9695}
.cm_mypage_main .quick_btn .state_deliver {color:#0057b9}
.cm_mypage_main .quick_btn .state_ok {color:#ca0000}
.cm_mypage_main .quick_btn .state_cancel {color:#999}

.cm_mypage_main .my_stats {margin-top:30px; overflow:hidden; border:1px solid #ddd; position:relative;}
.cm_mypage_main .my_stats:before {content:''; width:1px; height:100%; background:#ddd; position:absolute; left:50%; top:0; z-index:55}
.cm_mypage_main .my_stats li {list-style:none; width:50%; float:left;  position:relative;}
.cm_mypage_main .my_stats .inner_box {margin:25px;  line-height:20px; font-size:14px; overflow:hidden;}
.cm_mypage_main .my_stats .opt {font-size:14px; float:left; margin-right:30px; border-right:1px solid #ddd; padding-right:30px}
.cm_mypage_main .my_stats .value {font-family:'lato'; font-size:23px; float:left; color:#45484c;}
.cm_mypage_main .my_stats .unit {float:left; font-size:14px; }
.cm_mypage_main .my_stats .button_pack {position:absolute; right:20px; top:18px;}
.cm_mypage_main .my_stats li:hover {background:#fafafa;}

.cm_mypage_main .group_title {overflow:hidden; position:relative; border-bottom:2px solid #cfcfcf; color:#333; font-weight:600; font-size:14px; padding-bottom:10px;}
.cm_mypage_main .group_title .btn_all {position:absolute; right:0; top:5px; font-size:12px; font-weight:400}
.cm_mypage_main .cm_order_list {margin-top:50px; border-top:0}

.cm_mypage_main .recent_board {overflow:hidden; margin-top:70px}
.cm_mypage_main .recent_board li {list-style:none; width:50%; float:left;}
.cm_mypage_main .recent_board .cm_no_conts {margin:0; padding:0;}

.cm_mypage_main .board_wish {margin-right:15px; height:210px;}
.cm_mypage_main .board_wish .no_icon {background:transparent url('../images/cm_images/no_conts_mainboard.png') center bottom no-repeat; height:110px;}
.cm_mypage_main .wish_box {overflow:hidden; padding:20px 0; text-align:center;}
.cm_mypage_main .wish_box li {list-style:none; float:left; width:100px; margin:0 6px}
.cm_mypage_main .wish_box .wish_item {overflow:hidden; position:relative; width:100px; text-align:left;}
.cm_mypage_main .wish_box .wish_item dt {color:#000; height:30px; padding:5px}
.cm_mypage_main .wish_box .wish_item dd {color:#ff6600; font-weight:600; padding:0 5px}
.cm_mypage_main .wish_box .item_thumb {width:100px;}
.cm_mypage_main .wish_box .item_thumb img {width:100%;}
.cm_mypage_main .wish_box .wish_item:hover dt {text-decoration:underline}

.cm_mypage_main .board_inquiry {margin-left:15px; height:210px;}
.cm_mypage_main .board_inquiry .no_icon {background:transparent url('../images/cm_images/no_conts_mainboard.png') center bottom no-repeat; height:110px;}
.cm_mypage_main .list_box {padding:15px 10px;}
.cm_mypage_main .list_box .date {font-weight:400; color:#ccc; margin-left:10px; padding-left:10px; position:relative;}
.cm_mypage_main .list_box .date:before {content:'';width:1px; height:10px; background:#ddd; position:absolute; left:0; top:8px; }
.cm_mypage_main .list_box .link {display:block; color:#888; line-height:30px; position:relative; overflow:hidden; padding-left:8px}
.cm_mypage_main .list_box .link:before {content:''; background:#5b5b5b; width:2px; height:2px; position:absolute; left:0; top:50%; margin-top:-2px}
.cm_mypage_main .list_box .link:hover {color:#000}
.cm_mypage_main .list_box .texticon_pack {position:absolute; right:0; top:3px;}



